<div class="glimmer-portfolio">
  <div class="columns {{class-if showPreview "pushRight"}}">
    <div class="left column">
      <h3>
        <span class="type">{{activePortfolioItem.projectType}} / </span>{{activePortfolioItem.title}}
      </h3>
      <div class="links">
        {{#if activePortfolioItem.demoURL}}
          <demo-link @url={{activePortfolioItem.demoURL}} />
        {{/if}}
      </div>
      <div class="technologies">
        {{#each activePortfolioItem.technologies key="@index" as |technology|}}
          <tech-button @onclick={{action updateFilter}} @name={{technology}} @filter={{filterBy}} />
        {{/each}}
      </div>
      <div class="description">
        {{activePortfolioItem.description}}
      </div>
     <div class="my-work">
      <h4>My work</h4>
       {{#each activePortfolioItem.myWork key="@index" as |work|}}
         <div class="line">
           {{work}}
         </div>
       {{/each}}
      </div>
    </div>
    <div
      class="right column {{class-if showBlurredImage "blurred"}}"
      style={{edgeCSSBackgroundFallback}}
      onmousemove={{action moveRightColumnBackground}}>
      <img style="object-position: 0 {{bgPositionY}}%" class="image-preview" onload={{action largeImgLoaded}} src="{{activePortfolioItem.img}}" alt="">
      
      <div class="blurred-placeholder" style="background:url('{{activePortfolioItem.currentSrc}}')">
      </div>
    </div>
  </div>
  <div class="mobile-preview-switch">
    <button
      onclick={{action setPreviewMode false}}
      class="info {{class-if (not showPreview) "active"}}">
      Info
    </button>
    <button onclick={{action setPreviewMode true}}
      class="preview {{class-if showPreview "active"}}">
      Preview
    </button>
  </div>
  <div class="thumbnails dragscroll">
    <filter-info
      @projectsLength={{length portfolioData}}
      @onFilterUpdate={{action updateFilter}}
      @filterBy={{filterBy}} />
    {{#each portfolioData key="@index" as |portfolioItem|}}
      <portfolio-thumbnail
        class="thumbnail"
        onclick={{action updateActiveItem portfolioItem}}
        onload={{action saveLoadedSrc portfolioItem}}
        @filterBy={{filterBy}}
        @model={{portfolioItem}}
        @activeItem={{activePortfolioItem}}
        @img={{portfolioItem.smallImg}} />
    {{/each}}
    <div class="empty thumbnail"></div>
  </div>
</div>